  <%#= form_with(model: item, local: true) do |form| %>
    <% if @item.errors.any? %>
      <div id="error_explanation">
        <h5><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h5>

        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <%= form_for @item, html: {multipart: true} do |f| %>
        Item: <%= f.text_field :item_name %>
        Description: <%= f.text_field :item_description %>
        Price: <%= f.text_field :item_price %>
        <%= f.file_field :image %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end  %>
    <%# end %>
