<div class="row content-box">
  <div class="col-10 d-flex flex-wrap">

    <p id="notice"><%= notice %></p>

    <div class="list-group">
      <div class="list-group-item d-flex justify-content-between align-items-cente">
        <span>ITEM LIST</span> <%= link_to 'New Item', new_item_path %>
      </div>
      <% @items.each do |item| %>
        <div class="list-group-item d-flex justify-content-between align-items-cente">

          <%= image_tag item.image.url(:thumb) if item.image.present? %>
          <%= link_to item.item_name, item%>
          <%= item.item_price %>
          <%= link_to 'Show', item %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>


  </div>
  <div class="col-2 navsidebar">
    <%= render 'menus/navside'%>
  </div>
</div>
