<p id="notice"><%= notice %></p>


<!-- <p>
  <%= image_tag @item.image.url(:small) if @item.image.present? %>
</p> -->

<p>
  <%= image_tag @item.image.url(:small) if @item.image.present? %>
</p>
<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.item_price %>
</p>
<p>
  <strong>Description:</strong>
  <%= @item.item_description %>
</p>



<%= link_to 'Edit', edit_item_path %> |
<%= link_to 'Back', items_path %>
