<% if user_signed_in? %>
  <span class="SpanNav">Hello, <%= current_user.first_name %>!</span>
  <% if current_user.is_admin? %>
    <div class='NavButton'><%= link_to 'Dashboard', admin_dashboard_index_path %></div>
  <% end %>
  <div class='NavButton'><%= link_to 'Sign Out', session_path, method: :delete %></div>
<% else %>
  <div class='NavButton'><%= link_to 'Sign In', new_session_path %>
  </div>

<% end %>
<div class='NavButton'><%= link_to 'New Menu', new_menu_path %></div>
<div class='NavButton'><%= link_to 'Menu', menus_path %></div>
<div class='NavButton'><%= link_to 'New Item', new_item_path %></div>
<div class='NavButton'><%= link_to 'Items', items_path %></div>
