<p id="notice"><%= notice %></p>

<h1>Item Toppings</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Topping</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_toppings.each do |item_topping| %>
      <tr>
        <td><%= item_topping.item %></td>
        <td><%= item_topping.topping %></td>
        <td><%= link_to 'Show', item_topping %></td>
        <td><%= link_to 'Edit', edit_item_topping_path(item_topping) %></td>
        <td><%= link_to 'Destroy', item_topping, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Topping', new_item_topping_path %>
