<div class="row content-box">
  <div class="col-10 d-flex flex-wrap">

    <%= form_for :session, url: session_path do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <%= f.submit 'Submit' %>
    <% end %>
  </div>
  <div class="col-2 navsidebar">
    <%= render 'menus/navside'%>
  </div>
</div>
