
  <%= form_with(model: menu, local: true) do |form| %>
    <% if menu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

        <ul>
        <% menu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>






  <%= simple_form_for @menu, html: {multipart: true} do |f| %>
    <%= f.input :title, label: "Menu Title" %>
    <%= f.input :description, label: "Menu Description" %>
    <%= f.file_field :image, Label: "Menu Image"%>

    <%= f.button :submit %>
  <% end  %>
