<p id="notice"><%= notice %></p>


<div class="row content-box">
  <div class="col-10 d-flex flex-wrap">
    <% @menus.each do |menu| %>
      <div class="card border-dark mb-3" style="width: 15rem;">
        <div class="card-header">
          <%= link_to(
                fa_icon('cog'),
                menu_path(menu)
              ) %>
          <%= link_to(
                fa_icon('times'),
                menu_path(menu),
                method: :delete,
                data: { confirm: 'Are you sure?' }
              ) %>
        </div>
        <img class="card-img-top" src="<%= menu.image %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= menu.title %></h5>
          <p class="card-text">
            <%= menu.description %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-2 navsidebar">
    <%= render 'navside'%>
  </div>
</div>
