<p id="notice" class="flash-message"><%= notice %></p>


<div class="row content-box">
  <div class="col-10 d-flex flex-wrap">
    <% @menus.each do |menu| %>
      <div class="card border-dark" style="width: calc(100%/3 - 1em)">
        <div class="card-header pl-4  d-flex justify-content-between">
          <div>
            <h5 class="card-title"><%= menu.title %></h5>
          </div>
          <div>
            <%= link_to(
                  fa_icon('cog'),
                  menu_path(menu)
                ) %>
            |
            <%= link_to(
                  fa_icon('times'),
                  menu_path(menu),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                ) %>
          </div>
        </div>
        <div class="image-placeholder">
          <img class="card-img-top card-image" src="<%= menu.image %>" alt="Card image cap">
        </div>
        <div class="card-body">

          <p class="card-text">
            <%= truncate(menu.description, :length => 80) %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-2 navsidebar">
    <%= render 'navside'%>
  </div>
</div>
